body {
  background-image: url("../../assets/images/MainBackground.png");
  background-size: cover;
}

.App {
  width: 100%;

  overflow: hidden;
}

.circlesNumberOne {
  position: absolute;
  bottom: -370px;
  left: -280px;
}

.circlesNumberTwo {
  position: absolute;
  bottom: -300px;
  right: -330px;
}
